body, html{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Raleway', sans-serif;
	color: #fff;
}

body div{
	transition: height 1s;
}

body div div{
	transition: width 1s;
}

.centerIconHeight{
	margin-top: 20%;
}

.centerTextHeight{
	margin-top: 15%;
}

#tileMenuTop{
	height: 43%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: block;
	overflow: hidden;
	float: left;
}

#tileMenuMiddle{
	height: 16%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: block;
	overflow: hidden;
	float: left;
}

#tileMenuBottom{
	height: 43%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: block;
	overflow: hidden;
	float: left;
}

#education{
	height: 100%;
	width: 20%;
	font-size: 200%;
	font-weight: bold;
	float: left;
	margin: 0px;
	padding-top: 0px;
	text-align: center;
	background-color: #a97be0;
}

#blank1{
	background-color: #6ee6cc;
}

#work{
	height: 100%;
	width: 20%;
	font-size: 200%;
	font-weight: bold;
	float: left;
	margin: 0px;
	text-align: center;
	background-color: #666;
}

#blank2{
	background-color: #9a9a9a;
}

#about{
	height: 100%;
	width: 20%;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	float: left;
	margin: 0px;
	/*background-color: #f5f1c1;*/
	background-color:  #fffbcc;
	background-image: url('./contact.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#blank3{
	background-color: #9a9a9a;
}

#quals{
	height: 100%;
	width: 20%;
	font-size: 200%;
	font-weight: bold;
	float: left;
	margin: 0px;
	text-align: center;
	background-color: #7b7b7b;
}

#blank4{
	background-color: #aa8ce6;
}

#awards{
	height: 100%;
	width: 20%;
	font-size: 200%;
	font-weight: bold;
	float: left;
	margin: 0px;
	text-align: center;
	background-color: #04bd95;
}

.blankMiddle{
	height: 100%;
	width: 20%;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	float: left;
	margin: 0px;
	padding-top: 1.5%;
}

.blankSide{
	height: 100%;
	width: 20%;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	float: left;
	margin: 0px;
	padding-top: 1.5%;
}



