body, html{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Raleway', sans-serif;
	color: #fff;
}
/*
.centerIconHeight{
	margin-top: 30%;
}

.centerTextHeight{
	margin-top: 30%;
}

#educationIcon{
	margin-top: 30%;
	width: 100%;
}*/


#tileMenuTop{
	height: 33%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: block;
	overflow: hidden;
	float: left;
}

#tileMenuMiddle{
	height: 34%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: block;
	overflow: hidden;
	float: left;
}

#tileMenuBottom{
	height: 33%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: block;
	overflow: hidden;
	float: left;
}

#learn{
	height: 100%;
	width: 20%;
	background-image: url('learn.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

#education{
	height: 100%;
	width: 20%;
	margin: 0px;
	padding: 0px;
	background-color: #a97be0;
}

#educationIcon{
	margin: 0px;
	padding: 0px;
}

#about{
	height: 100%;
	width: 20%;
	background-color: #6ee6cc;
}

#palmtree{
	height: 100%;
	width: 20%;
	background-image: url('palmtree.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#work{
	height: 100%;
	width: 20%;
	background-color: #666;
}

#bear{
	height: 100%;
	width: 20%;
	background-image: url('bear.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
}

#nameFirst{
	height: 100%;
	width: 20%;
	background-color: #333;
}

#me{
	height: 100%;
	width: 20%;
	/*background-color: #f5f1c1;*/
	background-color:  #fffbcc;
	background-image: url('me.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#nameLast{
	height: 100%;
	width: 20%;
	background-color: #333;
}

#life{
	height: 100%;
	width: 20%;
	background-image: url('life.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#quals{
	height: 100%;
	width: 20%;
	background-color: #7b7b7b;
}

#board{
	height: 100%;
	width: 20%;
	background-image: url('board.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#awards{
	height: 100%;
	width: 20%;
	background-color: #aa8ce6;
}

#contact{
	height: 100%;
	width: 20%;
	background-color: #04bd95;
}

#explore{
	height: 100%;
	width: 20%;
	background-image: url('explore.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
}

.block{
	font-size: 200%;
	text-align: center;
	float: left;
	margin: 0px;
	padding-top: 0px;
}






